.nav{
  
    position: fixed;
    top: 0;
    width: 100%;
padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;


}
.nav.background{
    background-color: #111;
}
.logo{
    position: fixed;
   top:-5px;
    left: 20px;
    width: 120px;
    object-fit: contain;
    padding: 0;
    
}
.logo2{
    position: fixed;
    right: 20px;
    width: 30px;

    object-fit: contain;

}